[submodule "themes/themes/hugo-sustain"]
	path = themes/themes/hugo-sustain
	url = https://github.com/nurlansu/hugo-sustain.git
[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/vickylai/hugo-theme-introduction.git
